@use './variaveis' as *;
@use './mixins' as *;

// _header.scss
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-3 $space-5;
  position: relative;
  border-radius: $space-4;

  @include border-glow(2px, 0.2);
  @include radial-glow();
}

.cabecalho--logo {
  display: flex;
  align-items: center;
  font-size: clamp($font-size-xl, 5vw, $font-size-3xl);
  font-family: $fonte-titulos;
  text-transform: uppercase;
  color: $branco;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.cabecalho--span {
  color: $roxo;
  font-size: $font-size-3xl;
}

/* Menu hamburguer */
.menu-toggle {
  @include hamburger();
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.nav--list {
  margin-top: 2.7rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 0;
  background: $background;
  border-radius: $space-1;
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  z-index: 1000;
  gap: $space-7;

  li {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  &.active {
    height: calc(100vh - 60px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    li {
      opacity: 1;
    }
  }
}

.nav--list__links {
  @include link-underline();
  font-size: $font-size-md;
  position: relative;
  z-index: 1;
}

/* Tablet */
@media (min-width: 768px) {

  .nav--list__links {
    font-size: 1.8rem;
  }

  .menu-toggle {
    display: none;
  }

  .cabecalho--nav {
    display: flex;
  }

  .nav--list {
    position: static;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    gap: $space-5;
    margin-top: 0;
    background: transparent;
    backdrop-filter: none;
    box-shadow: none;
    overflow: visible;

    li {
      opacity: 1;
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {

  .nav--list__links {
    font-size: $font-size-md;
  }

  .nav--list {
    gap: $space-9;
  }
}